<html>
<head>
  <meta charset="utf-8">
  <title>"Blogasaurus"</title>
  <link rel="stylesheet" href="/static/index.css">


</head>
<body>
  <h1> Kevin Reyes </h1>
  <img src="/static/avatar.png" alt ="">

  <section>
      <h2>What I Like to do for Fun</h2>
  </section>

  <section>

      <h3>Rock Climbing
      <p id="RockClimbing"></p>  </h3>
      <!-- line 22, want to click and expand when clicked -->

    <p> I have been rock climbing for 5 years now and I mainly focus on two types of
      climbing, bouldering and sport climbing.

        <li>
          <a href="/newpost">New post</a>
        </li>

        <li>
            <a href="bouldering.html">Bouldering</a>
        </li>

        <li>
            <a href="sportclimbing.html">Sportclimbing</a>
         </li>

        <li>
            <a href="tradclimbing.html">Tradclimbing</a>
        </li>

        <li>
            <a href="iceclimbing.html">Iceclimbing</a>
        </li>


    </p>

</section>


</body>
<script src="/static/index.js"></script>

</html>
